
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  
    <title>Post Job</title>
  </head>
  <body>
    <h1>Edit Staffing Request </h1>
    <div id="login">
  <% let route = "/editreq/" + id + "/" + cliid%>
  <form id="login_form" action="<%= route%>" method="POST">
    <div class="field_container">
        <input type="text" class="form-control" name="title"  placeholder="Job Title">
      </div>
      <div class="field_container">
        <input type="text" class="form-control" name="type"  placeholder="Job Type">
      </div>
      <div class="field_container">
        <input type="text" class="form-control" name="location"  placeholder="location">
      </div>
      <div class="field_container">
        <input type="number" class="form-control" name="salary" placeholder="salary">
      </div>
      <div class="field_container">
        <input type="text" class="form-control" name="duration" placeholder="duration">
      </div>
      <div class="field_container">
        <input type="text" class="form-control" name="companyname" placeholder="companyname">
      </div>
      <div class="field_container">
        <input type="number" class="form-control" name="companycontact" placeholder="companycontact">
      </div>
<div style="text-align:center;">
        <button id="sign_in_button" type="submit">
          <span class="button_text">Make Changes</span>
        </button>
    </div>
      </div>


  </form>

    </div>

  </body>
</html>
